
img{
    position: absolute;
    width: 100%;
    height: 120%;
}
div {
    margin-top: 20px;
    margin: auto;
    text-align: center;
}
.textToTranslate {
    border: 2px solid rgb(129, 196, 186);
    border-radius: 10px;
    margin: 10px;
    height: 200px;
}
.submissionButton {
    color:white;
    background-color: rgb(129, 196, 186) ;
    border: 2px solid rgb(129, 196, 186); 
    border-radius: 10px;
    width: 200px;
}
#changeState{
    width: 100px; 
}